[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
gift-app = {editable = true,path = "."}
pytest = "*"
pytest-aiohttp = "*"
black = "*"
isort = "*"

[packages]
aiohttp = "*"
cchardet = "*"
marshmallow = "*"
sqlalchemy = "*"
injector = "*"
click = "*"
asyncpgsa = "*"
asyncpg = "*"
numpy = "*"
environs = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
