[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
gift-app = {editable = true,path = "."}
pytest = "*"
pytest-aiohttp = "*"
black = "*"
isort = "*"

[packages]
aiohttp = "*"
cchardet = "*"
marshmallow = "*"
pyyaml = "*"
sqlalchemy = "*"
aiopg = {extras = ["sa"],version = "*"}
injector = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
